{% extends 'base.html.twig' %}

{% block title %}Créer un compte
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('form') }}
{% endblock %}
{% block body %}
	<div class="button_back">
		<a href="/login">
			⬅ retour</a>
	</div>
	<div class="index_title">
		<h1>Créer un compte</h1>
	</div>
	<div class="form__register">
			{{ form_start(registrationForm) }}
		<div class="segment_form">
			{{ form_row(registrationForm.name) }}
		</div>
		<div class="segment_form">
			{{ form_row(registrationForm.firstname) }}
		</div>
		<div class="segment_form">
			{{ form_row(registrationForm.email) }}</div>
		<div class="segment_form">{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}</div>
		<button type="submit" class="btn" style="color: rgb(116, 255, 69);">Register</button>
		{{ form_end(registrationForm) }}
	</div>
{% endblock %}
