{% extends 'base.html.twig' %}

{% block title %}Bar index
{% endblock %}

{% block body %}
	<h1>Bar index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Type</th>
				<th>Address</th>
				<th>Phone</th>
				<th>Slug</th>
				<th>Image</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for bar in bars %}
				<tr>
					<td>{{ bar.id }}</td>
					<td>{{ bar.name }}</td>
					<td>{{ bar.type }}</td>
					<td>{{ bar.address }}</td>
					<td>{{ bar.phone }}</td>
					<td>{{ bar.slug }}</td>
					<td>{{ bar.image }}</td>
					<td>
						<a href="{{ path('client_bar_show', {'id': bar.id}) }}">show</a>
						<a href="{{ path('client_bar_edit', {'id': bar.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="8">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('client_bar_new') }}">Create new</a>
{% endblock %}
