{% extends 'base.html.twig' %}

{% block title %}Bar index
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block body %}
<div class="button_back">
		<a href="{{ path('user_show', {'id': app.user.id}) }}">
			⬅ retour</a>
	</div>
	<div class="index_title">
		<h1>Mes Bars</h1>
	</div>

	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Address</th>
				<th>Phone</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for bar in bars %}
				<tr>
					<td>{{ bar.name }}</td>
					<td>{{ bar.address }}</td>
					<td>{{ bar.phone }}</td>
					<td>
						<a href="{{ path('client_bar_show', {'id': bar.id}) }}">show</a>
						<a href="{{ path('client_bar_edit', {'id': bar.id}) }}">edit</a>
						<a href="{{ path('bar_product_index', {'bar': bar.slug}) }}">voir la carte</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="8">no records found</td>
				</tr>
			{% endfor %}

		</tbody>
	</table>

	<a href="{{ path('client_bar_new') }}">Create new</a>

{% endblock %}
