{% extends 'base.html.twig' %}

{% block title %}Carte
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block body %}
	<div class="button_back">
		<a href="{{ path('bar_show',{'bar': bar.slug}) }}">
			⬅ retour</a>
	</div>
	<div class="index_title">
		<h1>Carte du
			{{bar.name}}</h1>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>Nom</th>
				<th>Description</th>
				<th>Prix</th>
				
			</tr>
		</thead>
		<tbody>
			{% for product in products %}
				<tr>
					<td>{{ product.name }}</td>
					<td>{{ product.description }}</td>
					<td>{{ product.price|number_format(2) }}€</td>
					<td>
						<a href="{{ path('bar_product_show', {'id': product.id, 'bar': product.bar.slug}) }}">Details</a>
						{% if app.user %}

							{% if app.user.id is same as bar.user.id %}
								{{ include('product/_delete_form.html.twig') }}

								<a href="{{ path('bar_product_edit', {'id': product.id, 'bar': product.bar.slug}) }}">edit</a>
							{% endif %}
						{% endif %}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}


		</tbody>
	</table>
	{% if app.user %}

		{% if app.user.id is same as bar.user.id %}
			<a href="{{ path('bar_product_new',{ 'bar': bar.slug}) }}">Create new</a>
		{% endif %}
	{% endif %}
{% endblock %}
