{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('bar_show') }}

{% endblock %}

{% block title %}
	{{ bar.name }}
{% endblock %}

{% block body %}
	<div class="button_back">
		<a href="{{ path('bar_index') }}">
			⬅ Retour à la liste</a>
	</div>
	<div class="title">
		<h1>{{ bar.name }}</h1>
	</div>
	<div class="button_carte">
		<a href="{{ path('bar_product_index', {'bar': bar.slug}) }}">voir la carte</a>
	</div>
	<div class="card_bar">
		<div class="image_bar">
			<img src="{{ bar.image }}" alt="image">
		</div>
		<div class="description">
			<div class="bar_type">{{ bar.type }}</div>
			{% if bar.phone is null %}
				<div class="bar_no_phone">téléphone non renseigné</div>
			{% else %}
				<div class="bar_phone">0{{ bar.phone }}</div>
			{% endif %}
			<div class="bar_address">{{ bar.address }}</div>
			<div class="bar_description">{{ bar.description }}</div>
		</div>
		{% if is_granted('ROLE_ADMIN') %}
			<div class="action">
				<a href="{{ path('bar_edit', {'id': bar.id}) }}">Modifier</a>
				{{ include('bar/_delete_form.html.twig') }}
			</div>
		{% endif %}

	</div>


{% endblock %}
