{% extends 'base.html.twig' %}

{% block title %}User
{% endblock %}

{% block body %}
	{% if app.user.id is same as user.id %}
		
		<div class="index_title">
			<h1>Mon profil</h1>
		</div>
		<table class="table table-dark table-striped">
			<tbody>
				<tr>
					<th>Email</th>
					<td>{{ user.email }}</td>
				</tr>
				<tr>
					<th>Name</th>
					<td>{{ user.name }}</td>
				</tr>
				<tr>
					<th>Firstname</th>
					<td>{{ user.firstname }}</td>
				</tr>
			</tbody>
		</table>
		<div class="action">
		<a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
		{% if is_granted('ROLE_ADMIN') %}

			{{ include('user/_delete_form.html.twig') }}
		{% endif %}
		<a href="{{ path('client_bar_index', {'id': user.id}) }}">gerer mon/mes bars</a>
		</div>
	{% else %}
		<h1>houlà! il semblerait que tu sois perdu !</h1>
	{% endif %}

{% endblock %}
